{% extends "layout.html" %}

{% block body %}

<div>
  <img src={{ image_url }} alt="Avatar" class="profile-image"></img>
  <div>@{{ username }}</div>

  <div class="create-post">
    <form action="/profile" method="POST">
      <div class="mb-3">
        <!-- <label for="post-imageUrl" class="form-label">Image Link</label> -->
        <input type="text" class="form-control" id="post-imageUrl" placeholder="Image Link" aria-describedby="Description">
        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
      </div>
      <div class="mb-3">
        <!-- <label for="post-imageUrl" class="form-label">Image Link</label> -->
        <input type="text" class="form-control" id="post-songID" name="post-songLink" placeholder="Spotify Song Link" aria-describedby="Description">
        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
      </div>
      <div class="mb-3">
        <label for="post-description" class="form-label">Description</label>
        <input type="email" class="form-control" id="post-description" aria-describedby="Description">
        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <!-- replicate of index layout for the profile tab -->
  <div class="post">
    <div>
      {% for post in posts %}
      <!-- CODE HERE-------------------------------------------- -->
      <div class="row px-5">
        <div class="col-6 px-0">
          <div class="card my-2" style="">
            <p class="card-text">Owner Name: @{{ post.handler }}</p>
            <div style="text-align: center;">
              <img src="{{ post.imageUrl }}" style="width: 100%;" class="img-thumbnail" alt="...">
            </div>
            <div>
              <iframe style="border-radius:12px; max-height: 10vh;"
                src="https://open.spotify.com/embed/track/{{ post.songUrl }}?utm_source=generator" width="100%"
                height="100%" frameBorder="0" allowfullscreen=""
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                loading="lazy"></iframe>
            </div>
            <div class="card-body">
              <p class="card-text">Song Name: {{ post.songName }}</p>

            </div>
            <div class="card-footer text-body-secondary">
              {{ post.timeElapse }}
            </div>
          </div>
        </div>
        <div class="col-6 px-0">
          <div class="comment-section my-2">
            <form action="/" method="POST">
              <div class="comment-input">
                <img src="/static/avatar.jpeg" alt="User Profile" class="profile-pic">
                <textarea placeholder="Write a comment..." name="commentInput"></textarea>
              </div>
              <div class="post-btn"><button class="post-btn" type="submit">Post</button></div>
            </form>


            <div class="comments">
              {% for postComment in comments %}
              {% for c in postComment %}


              <!-- <div style="color: red">{{post.postID}} - {{ c }}</div> -->
              <!-- {% if c.postID == post.postID %} -->
              <div class="comment">
                <img src={{ c["avatar"] }} alt="User Profile" class="profile-pic">
                <div class="comment-content">
                  <div class="comment-header">
                    <span class="username">{{ c["userName"] }}</span>
                    <span class="timestamp">{{ c["timeElapse"] }}</span>
                  </div>
                  <p>{{ c.content }}</p>
                </div>
              </div>
              <!-- {% endif %} -->
              {% endfor %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>


      {% endfor %}
    </div>
  </div>
</div>



<!-- <div>Friends: {{ friends }}</div> -->
</div>

{% endblock %}